/** Edit Color here **/

#.ui-widget-header{
	background-color:#D20000;
}
.res_name{
	color:#D20000;
}

body {
	background:url("img/bkd_page.jpg") no-repeat fixed center center #0d0d0d;
	min-width: 1000px;
}

body,input,select,button,textarea,a,td,th,tr,table,a:visited{
	color:#DDD;
}

body.mceContentBody,input,button,select,option,textarea, .ui-widget-content{
	background: #0D1014;
}

input[type="radio"] {
	background:transparent;
	border:0 none;
}


#menu li:first-child, #menu li:last-child{
	background-color:transparent;
}

a:hover {
	color: #9e9e9e;
	text-decoration:none
}

table,td,th {
	font-weight:400
}

table table,img {
	border:0
}

input, select, textarea, #userpic, input, button{
	border:1px solid #1C1F23;
}

.tip {
	border:1px solid #000;
}

.tip {
	text-align:center;
	background: #0D1014;
	background: rgba(13, 16, 20, 0.95);
}

button {
	text-align:center;
}

input[type=text], input[type=password], input[type=int], input[type=number], select, textarea {
	background-color: rgb(33, 36, 40);
    color: #bcbcbc;
    border: 0 none;
    border-radius: 3px;
    height: 30px;
    padding-left: 5px;
    font-family: "Open Sans", sans-serif;
}

th, .ui-widget-header {
	color:#FFF;
	font-weight:700;
	text-align:left
}

th a:hover, .ui-widget-header a:hover, #menu a:hover  {
	color:#FFF;
}

th a:hover, .ui-widget-header a:hover {
	text-decoration:underline;
}

/*textarea {
	background:transparent;
}*/

select {
	border:1px solid #212121
}

.clear {
	clear: both;
}

/* Main navigation */
#main_header {
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
}

.main_list_left {
	float: left;
}

.main_list_left ul {
	list-style: none;
	display: inline-flex;
    padding: 0 0 0 5px;
}

.main_list_left li {
	
}

.main_list_right {
	float: right;
}

.main_list_right ul {
	list-style: none;
	display: inline-flex;
    padding: 0 5px 0 0;
}

.main_list_right li {
	
}

.main_list_left li a, .main_list_right li a {
	font-size: 14px;
	padding: 5px;
}

#planetSelectorWrapper {
	width:145px;
}

#planetSelector {
	margin: 4px 0px;
	width:145px;
}

/* Resources */
#resourceWrapper{
	height:90px;
	text-align:center;
	margin:0;
}

#resourceTable{
	height:80px;
	width: 100%;
}

#resourceTable td{
	margin:0 5px;
	min-width:130px;
}

#resourceTable img {
    display: block;
    height: 22px;
    margin: 0 auto;
    width: 42px;
}

/*Global Messgae */

.admin {
	color:red;
}
.mod {
	color:yellow;
}
.ops {
	color:skyblue;
}

.messages_body .admin {
	font-weight:700;
	color:red;
}
.messages_body .mod {
	font-weight:700;
	color:yellow;
}
.messages_body .ops {
	font-weight:700;
	color:skyblue;
}

.res_max {
	color:#0F0
}

.res_name {
	color:red;
	font-weight:700
}

.galaxy-alliance-member {
	color:#99FF66;
}

.galaxy-alliance-friend {
	color:#99FFFF;
}

.galaxy-alliance-enemy {
	color:#FF0000;
}

.galaxy-short-noob,
.galaxy-username-noob{
	color:#a0ffa0
}

.galaxy-short-strong,
.galaxy-username-strong {
	color:#ffa0a0
}

.galaxy-short-vacation,
.galaxy-username-vacation {
	color:#659ec7
}

.galaxy-short-inactive,
.galaxy-username-inactive {
	color:#ccc
}

.galaxy-short-longinactive,
.galaxy-username-longinactive {
	color:#999
}

.galaxy-short-banned {
	text-decoration:line-through
}

.ownattack {
	color:#6c3
}

.owncolony {
	color:#c1c1c1
}

.owndeploy {
	color:#666
}

.owndestroy {
	color:#ff9
}

.ownfederation {
	color:#c66
}

.ownharvest {
	color:#ceff68
}

.ownhold {
	color:#80a0c0
}

.destroy {
	color:#d4a017
}

.hold {
	color:#39c
}

.warning {
	color:#FF8040
}

.notice {
	color:#FF0
}

.return {
	color:#444
}

.allymember,.colony,.deploy,.harvest,.transport,.success {
	color:lime
}

.owntransport {
	color:#a0ffa0
}

.ownespionage,.ownmissile {
	color:#fc6
}

.espionage,.missile {
	color:#f60
}

.build_submit {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: lime;
}
.onlist{
    color: #DDD;
}

/** HEADER **/

#header {
	background: #0D1014;
	background: rgba(6, 5, 5, 0.8);
	border: 1px solid #524d4d;
	border-top: none;
	border-radius: 0 0 10px 10px;
}

#resourcesdiv{
	text-align:center;
}

/** MAIN NAVIGATION HEADER **/
#newmesnum {
    color: #fff;
    background-color: #dc3545;
    padding: 1px 5px 1px 5px;
}

#newmes {
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    position: relative;
    margin: 0 0 0 -10px;
}

/** TOPNAV **/
.bar-main-container {
    margin: 10px 0 0 10px;
    width: 19%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    color: #FFF;
    float: left;
}

.wrap {

}

.bar-percentage {
  	float: left;
    background: rgba(0,0,0,0.13);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 10px 0 0 10px;
    height: 16px;
    overflow: hidden;
}

.bar-percentage img {
  	width: 42px;
    height: 16px;
}

.bar-container {
  	float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0 10px 10px 0;
    height: 16px;
    background: rgba(170, 170, 170, 0.7);
    width: 50%;
    overflow: hidden;
}

.bar-text {
	margin: 2px 0 0 5px;
    color: #eeeeee;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}

.bar-change {
	float: left;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}

.bar {
	float: left;
	height: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.heder_res_921 {
	margin: 10px 10px 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: normal;
    color: #FFF;
    float: right;
}

.heder_res_921 img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* COLORS */
.res_901, .bar_901   { background: #38B1CC; }
.res_902, .bar_902 { background: #2CB299; }
.res_903, .bar_903  { background: #8E5D9F; }
.res_911, .bar_911  { background: #EFC32F; }
.res_921, .bar_921  { background: #a2a217; }

.res_901_text   { color: #38B1CC; }
.res_902_text { color: #2CB299; }
.res_903_text  { color: #8E5D9F; }
.res_911_text  { color: #EFC32F; }
.res_921_text { color: #a2a217; }

/** MENU **/

#menu a {
	background: #0D1014;
	background: rgba(13, 16, 20, 0.95);
}

#menu a:hover {
	background: #212428;
}

.menu-head a {
	height:78px;
	background:none !important;
	padding:0 !important;
	text-indent: -1000em;
}

/* PLANETMENU */

#planet_menu_link{
	font-weight:700;
}

#planet_menu_header{
	text-align:right;
}

#planet_menu_content li {
	text-align:center;
}


/* CONTENT */

#content {
    margin: 10px 0 0;
    padding: 10px 0px 0px 0px;
}

.tip th{
	text-align:center
}

.top {
	vertical-align:top
}

.transparent,#header td, .tip td, .tip th, .raportMessage td {
	background: transparent;
	border:none;
	filter: none !important;
}

.mes_unread td {
	font-weight:700;
}

a {
	text-decoration:none
}

th a,.res_current{
	/*color:#FFF*/
}

.res_current_max,.attack,.federation,.error {
	color:red
}

#fleetstatustable td{
	background: transparent;
	background-image: none;
	border: 0 none
}

.raportWin {
	color:lime;
}

.raportLose {
	color:red;
}

.ui-progressbar-value {
	background-image: url(img/processbar.gif);
	background-position:top left;
	border-color:#000;
}

.spyRaportContainerHead {
	background: #212428;
	color: white;
	font-weight: 700;
	text-align: left;
	margin: 3px 0;
	padding: 3px;
}

.spyRaportContainerRow {
	border-top:1px solid #DDD;
}
.spyRaportContainerHead + .spyRaportContainerRow {
	border-top:0 none;
}

.ui-autocomplete, .ui-state-hover, .ui-state-default, .ui-tabs-nav, .ui-tabs, .ui-progressbar, .ui-progressbar-value {
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	border-radius:0;
}

.ui-state-default{
	border:1px solid #000 !important;
	background: #0D1014 !important;
}
.ui-state-default > a{
	cursor:pointer !important;
}

.ui-state-hover, .ui-progressbar{
	border:1px solid #000 !important;
	background: #212428 !important;
}

.ui-tabs-nav {
	padding: 0;
}

.ui-tabs {
	border:1px solid #000;
	background:transaprent;
}

/** CSS PERSO **/
.title {
	text-align: center;
	margin: -5px -5px 5px -5px;
	background: #28292a;
	padding: 5px;
}

.title div.onligne, .title div.ticket {
	display: inline-block;
}

.title div.onligne {
	float: left;
}

.title div.ticket {
	float: right;
}

#contentPlanet {
	overflow: hidden;
	width: 705px;
	height: 220px;
	position: relative;
	border: 1px solid #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 10px;
	background-size: cover;
}

#namePlanet {
	background: rgba(0, 0, 0, 0.7);
	width: 230px;
	padding: 5px;
	border-radius: 0 0 5px 0;
}

#lunePlanet {
	background: rgba(0, 0, 0, 0.7);
	padding: 5px;
	border-radius: 0 0 5px 0;
	position: absolute;
	right: 0;
	top: 0;
	color: coral;
}

#listDetailPlanet {
	background: rgba(0, 0, 0, 0.7);
	padding: 5px;
	border-radius: 0 0 5px 0;
	position: absolute;
	right: 0;
	bottom: 0;
}

#listDetailPlanet table {
	width: 100%;
}

#listDetailPlanet td.desc {
    font-weight: 700;
}

#listDetailPlanet td.data {
    text-align: right;
}

#listDetailPlanet td {
	   padding: 2px 5px;
}

#listDetailPlanet td.desc {
	   color: #6f9fc8;
}

.listBat, .listRech, .listFleet {
	background: rgba(0, 0, 0, 0.7);
	padding: 5px;
	border-radius: 0 0 5px 5px;
	width: 30.33%;
    float: left;
    margin: -5px 0 0 10px;
    text-align: center;
}

.listBat .timer, .listRech .timer, .listFleet .timer {
	color: lime;
	font-weight: bold;
}

.listBat .level, .listRech .level, .listFleet .level {
	color: orange;
	font-weight: bold;
}

/** Page pour les constructions **/
.main_construct {
	display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-around;
    float: left;
    width: 50%;
}

.block_construct {
	width: 95%;
    margin: 10px 0 0 10px;
}

.block_construct_desc {
	margin: 0 0 0 -5px;
	padding: 5px;
	background: rgba(0,0,0,0.7);
}

.block_construct_desc_list {
	min-height: 155px;
	margin-top: 5px;
}

.construct_button {
	max-width: 100%;
    width: 99%;
    background: #16501cbf;
    padding: 5px;
    margin-top: 10px;
}

.construct_button_lost {
    background: #a52727b3;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

/** CSS pour les fancybox **/
#fancybox-content {
	border: 1px solid rgba(13, 16, 20, 0.95);
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 2px !important;
}

body.popup {
	background: rgba(13, 16, 20, 0.95);
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
}

.ppopup#content {
	margin: 17px 0 0;
    padding: 0;
}

.content_page_popup {

}

.title_popup {
	text-align: center;
    margin: -20px 0 0 0;
    background: #28292a;
    padding: 5px;
    font-weight: bold;
}

.content_popup {
	background: rgba(0,0,0,0.7);
	border-top: 1px solid rgba(120, 125, 132, 0.95);
}