.fleet_slot {

  margin: 5px 0;
  font-size: 1em;

  .flight {
    text-align: left;

    &.attack {
      background: linear-gradient(rgba(125, 10, 5, 0.8), #000000);
      color: #FFFFFF;
      padding: 5px 10px;
      width: 100%;
    }


    &.owncolony {
      background: linear-gradient(rgba(15, 145, 5, 0.8), #000000);
      color: #FFFFFF;
      padding: 5px 10px;
      width: 100%;
    }
  }

  .return {
    text-align: left;

    &.owncolony, &.owntransport {
      background: linear-gradient(rgba(135, 130, 135, 0.8), #000000);
      color: #FFFFFF;
      padding: 5px 10px;
      width: 100%;
    }

  }
}





