/* Sly's */
.menu_content_left {
  /*border: 1px solid red;*/

  &-link {
    width: 15rem;
    height: 2rem;
    transition: all 2s ease-out;


    :hover{
      background: #565656;

    }


    a {
      color: #DDDDDD;
      border: 0;
      margin: 0;
      width: 100%;

      &:visited, :hover {
        color: #DDDDDD;
      }
    }
  }


}

