.res_header{
  background: rgba(22, 23, 22, 0.8);
  padding: 5px 0;
  position: sticky;
  overflow: auto;
  top: 0;
  z-index: 999;
}
.res_item{
  font-size: .8em;

  &.green {
    color: #3EAD15;
  }
}

.res_change{
  position: relative;
  top: 2px;
}