
.research-item {
  margin: 20px 0;
  padding: 5px 0;

  .add-research {
    height: 25px;
  }

}

#progressbar {
  height: 25px;
}

.build-data{

  &-image{

    img{
      position: relative;
      top: 10px;
      left: 5px;
      height: 220px;
      width: 100%;
    }

  }

  &_data{
    padding: 8px 10px;
  }

}
